{% extends 'base.html.twig' %}

{% block title %}Quiz index{% endblock %}

{% block body %}
    <h1>Quiz index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Question</th>
                <th>Reponse</th>
                <th>Prop1</th>
                <th>Prop2</th>
                <th>Prop3</th>
                <th>Prop4</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quiz in quizzes %}
            <tr>
                <td>{{ quiz.id }}</td>
                <td>{{ quiz.question }}</td>
                <td>{{ quiz.reponse }}</td>
                <td>{{ quiz.prop1 }}</td>
                <td>{{ quiz.prop2 }}</td>
                <td>{{ quiz.prop3 }}</td>
                <td>{{ quiz.prop4 }}</td>
                <td>
                    <a href="{{ path('quiz_show', {'id': quiz.id}) }}">show</a>
                    <a href="{{ path('quiz_edit', {'id': quiz.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('quiz_new') }}">Create new</a>
{% endblock %}